<h1>Listing Users</h1>

<table class="col-sm-4 table table-hover">
  <thead class="col-sm-4">
    <tr>
      <th>Username</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user%> <span class="label label-danger"><%= 'banned' if user.banned %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
