<p id="notice"><%= notice %></p>

<h1>Listing Styles</h1>
    <% @styles.each do |style| %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <%= link_to style.name, style_path(style) %>
    </div>
    <div class="panel-body">

     <%= style.description %>
    </div>
  </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Style', new_style_path %>
